<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tacademy.woof.doguendoguen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".DoguenDoguenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".app.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.base.profile.UserProfileDetailActivity">
        </activity>

        <activity android:name=".app.base.search.PostDetailActivity">
        </activity>

        <activity android:name=".app.sign.SignUpActivity">
        </activity>

        <activity android:name=".app.sign.SignUpEndActivity">
        </activity>

        <activity android:name=".app.base.message.MessageDetailActivity">
        </activity>

        <provider
            android:authorities="org.tacademy.woof.doguendoguen.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".app.base.SearchDogTypeActivity">
        </activity>

    </application>
</manifest>